<%- include('../layouts/header') %>

<div class="wrapper">
    <p>Category: <%= params.category %></p>
    <p>Price filter: <%= params.priceMin %> and <%= params.priceMax %></p>
    <p>Page: <%= params.page %></p>
</div>

<%- include("../layouts/bottom") %> 