<%- include('../layouts/header') %>

<link rel="stylesheet" href="/frontend/source/css/product-page.css">

<div class="wrapper">

    <!-- Основная информация о продукте -->
    <div class="product-info">
        <div class="product-info-left">
            <div class="product-photo-wrapper">
                <img class="product-photo-source" src="<%= product.product_photo %>">
            </div>
        </div>
        <div class="product-info-right">
            <h2 class="product-title"><%= product.product_title %></h2>
            <div class="product-description">
                <%= product.product_description %>
            </div>
            <div class="margin-20"></div>
            <div class="product-rating">
                <div class="rating-stars">

                    <% for( let i = 0; i < ratingRound; i++ ) { %>
                        <div class="star"><i class="icon icon-star icon-star-filled"></i></div>
                    <% } %>
                    <% for( let i = 0; i < 5 - ratingRound; i++ ) { %>
                        <div class="star"><i class="icon icon-star"></i></div>
                    <% } %>
                    <div class="rating-amount">

                    <%= rating %>

                    </div>
                    <div class="rating-amount">/ 5.0</div>
                </div>
                <div class="vertical"></div>
                <a href="#reviews" class="rating-review-amount no-link">
                    <span class="review-amount"><%= reviews.length %> </span>
                    отзывов
                </a>
                <div class="vertical"></div>
                <div class="rating-bought-amount">
                    <span class="review-bought"><%= bought %></span>
                    <% if(bought == 1){ %> 
                    заказ
                    <% } %> 
                    <% if(bought > 1 && bought < 5){ %> 
                    заказа
                    <% } %> 
                    <% if(bought == 0 || bought >= 5){ %> 
                    заказов
                    <% } %> 
                </div>
                <!-- /product-rating -->
            </div>
            <div class="margin-20"></div>

            <hr class="product-hr">
            <div class="product-price">
                <span class="product-price-amount"><%= product.product_price %></span>
                <span class="product-price-currency">руб.</span>
            </div>
            <hr class="product-hr">

            <div class="product-sizes">
                Размер:
                <div class="product-sizes-container">
                    <button class="btn btn-square btn-white" onclick="chooseSize(this)">S</button>
                    <button class="btn btn-square btn-white" onclick="chooseSize(this)">M</button>
                    <button class="btn btn-square btn-white" onclick="chooseSize(this)">L</button>
                    <button class="btn btn-square btn-white" onclick="chooseSize(this)">XL</button>
                    <button class="btn btn-square btn-white" onclick="chooseSize(this)">XXL</button>
                </div>
            </div>

            <div class="product-onstore">
                <span class="product-onstore-amount"><%= product.product_available %></span>
                <span class="product-onstore-currency">шт. в наличии</span>
            </div>

            <hr class="product-hr">

            <div class="margin-10"></div>
            <% if(product.product_available == 0){%>
                На данный момент этого товара нет в наличии
            <% } %>
            <div class="margin-10"></div>
            <div class="product-buy">
                <button class="btn btn-big btn-round btn-orange"
                <% if(product.product_available == 0){%>
                    disabled
                <% } %> >Купить</button>
                <button class="btn btn-big btn-round btn-outline-orange"
                <% if(product.product_available == 0){%>
                    disabled
                <% } %>>В корзину</button>
            </div>

            <!-- /product-right-info -->
        </div>
        <!-- /product-info -->
    </div>

    <!-- Отзывы -->
    <div class="product-review" id="reviews">
        <h2 class="product-review-title">Отзывы</h2>

        <center>
            <% if (reviews.length == 0) { %>
                Отзывов пока нет :(
            <% } %>
        </center>

        <div class="reviews-container">

            <%for (let i = 0; i < reviews.length; i++) { %>
                <div class="review-block">
                    <div class="user-info">
                        <div class="review-user-logo"></div>
                        <div class="review-user-name"><%= reviews[i].review_author_fullname %></div>
                    </div>
                    <div class="margin-10"></div>
                    <div class="review-rating">
                        <div class="rating-stars">
                            <% for( let j = 0; j < reviews[i].review_rate; j++ ) { %>
                                <div class="star"><i class="icon icon-star icon-star-filled"></i></div>
                            <% } %>
                            <% for( let j = 0; j < 5 - reviews[i].review_rate; j++ ) { %>
                                <div class="star"><i class="icon icon-star"></i></div>
                            <% } %>
                            <div class="rating-amount"><%= reviews[i].review_rate %>.0</div>
                            <div class="rating-amount">/ 5.0</div>
                        </div>
                    </div>
                    <div class="review-user-content">
                        <p>
                            <div class="review-block-title">Достоинства</div>
                            <div class="review-block-cons"><%= reviews[i].review_pros %></div>
                        </p>
                        <p>
                            <div class="review-block-title">Недостатки</div>
                            <div class="review-block-cons"><%= reviews[i].review_cons %></div>
                        </p>
                        <p>
                            <div class="review-block-title">Комментарии</div>
                            <div class="review-block-cons"><%= reviews[i].review_comment %></div>
                        </p>
                        <p>
                            <div class="review-publish-date"><%= reviews[i].review_published %></div>
                        </p>
                    </div>
                    <!-- /review-block -->
                </div>
            <% } %>

            <!-- /reviews-container -->
        </div>
        <!-- /product-review -->
    </div>
    <!-- /wrapper -->
</div>

<script src="/frontend/source/js/scriptProductPage.js"></script>

<%- include("../layouts/bottom") %> 