<%- include('../layouts/header') %>

<link rel="stylesheet" href="/client/source/css/search-result.css">

<div class="wrapper search-result-wrapper">

    <h2>Результаты поиска по запросу: <%= query %> </h2>

    <% if(notFound){ %> 
        По Вашему запросу ничего не найдено!
    <% }else if(error){ %> 
        <%= error  %> 
    <% }else{ %>
        <% for( let i = 0; i < serverResponse.length; i++ ) { %>
            <div class="result-block">
                <div class="result-img"><img src="<%= serverResponse[i].product_photo %>"></div>
                <div class="result-info">
                    <div class="result-title">
                        <a href="/product/<%= serverResponse[i].id %> ">
                            <%= serverResponse[i].product_title %>
                        </a>
                    </div>
                    <div class="result-description">
                        <%= serverResponse[i].product_description %>
                    </div>
                    <div class="result-price">
                        <%= serverResponse[i].product_price %> руб.
                    </div>
                </div>
            </div>
        <% } %>
    <% }%>

    <div class="margin-20"></div>

    <a href="/" role="button" class="btn btn-outline-orange block">На главную</a>

</div>

<%- include("../layouts/bottom") %> 